<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="profile_photo" jdbcType="VARCHAR" property="profilePhoto" />
    <result column="profile_photo_src" jdbcType="VARCHAR" property="profilePhotoSrc" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="user_enabled" jdbcType="BOOLEAN" property="userEnabled" />
    <result column="id_admin" jdbcType="BOOLEAN" property="idAdmin" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="pwd_reset_time" jdbcType="TIMESTAMP" property="pwdResetTime" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="department_code" jdbcType="VARCHAR" property="departmentCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_code, username, `password`, department_id, department_name, nick_name, 
    gender, profile_photo, profile_photo_src, email, phone, address, city, user_enabled, 
    id_admin, create_by, create_time, update_by, update_time, create_id, update_id, pwd_reset_time, 
    is_deleted, department_code
  </sql>
</mapper>